.spotify-logo {
    background: url("images/spotify-logo.svg" ) no-repeat center;
}
.spotify-logo:hover {
    background: url("images/spotify-logo_hover.svg" ) no-repeat center;
}
.apple-music-logo {
    background: url("images/apple-music-logo.svg" ) no-repeat center;

}
.apple-music-logo:hover {
    background: url("images/apple-music-logo_hover.svg" ) no-repeat center;
}
.bandcamp-logo {
    background: url("images/bandcamp-logo.svg" ) no-repeat center;
}
.bandcamp-logo:hover {
    background: url("images/bandcamp-logo_hover.svg" ) no-repeat center;
}

body:after{
    position: absolute; overflow: hidden; left: -50000px;
    content: url("images/spotify-logo_hover.svg") url("images/apple-music-logo_hover.svg" ) url("images/bandcamp-logo_hover.svg" );
}
.s-logo {
    width:120px;
    height: 40px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width: 100%;
}
.fa-logo-offset {
    overflow: hidden;
    overflow-x: hidden;
}

.padding-footer {
    padding-bottom: 30px;
}
.hidden-item-p {
    padding-bottom: 22.5px;
}
.p-2 {
    margin-bottom: 50px!important;
}    
.padding-release {
    padding-bottom: 0px;
}
@media(max-width: 1200px) {
   
    .padding-footer {
        padding-bottom: 0px;
    }
    .fa-logo-offset {

        max-width: 100vw;
    }

    .hidden-item-p {
        padding-bottom: 0px;
    }
}