@charset "UTF-8";

/* web fonts */
@font-face {
    font-family: 'AnuDawItalic';
    src: url('fonts/ANUDI___-webfont.eot');
    src: url('fonts/ANUDI___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ANUDI___-webfont.woff') format('woff'),
         url('fonts/ANUDI___-webfont.ttf') format('truetype'),
         url('fonts/ANUDI___-webfont.svg#AnuDawItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AftasansItalic';
    src: url('fonts/AftaSansThin-Italic-webfont.eot');
    src: url('fonts/AftaSansThin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AftaSansThin-Italic-webfont.woff') format('woff'),
         url('fonts/AftaSansThin-Italic-webfont.ttf') format('truetype'),
         url('fonts/AftaSansThin-Italic-webfont.svg#AftasansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AftasansRegular';
    src: url('fonts/AftaSansThin-Regular-webfont.eot');
    src: url('fonts/AftaSansThin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AftaSansThin-Regular-webfont.woff') format('woff'),
         url('fonts/AftaSansThin-Regular-webfont.ttf') format('truetype'),
         url('fonts/AftaSansThin-Regular-webfont.svg#AftasansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btmedium';
    src: url('fonts/futumd__-webfont.eot');
    src: url('fonts/futumd__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futumd__-webfont.woff2') format('woff2'),
         url('fonts/futumd__-webfont.woff') format('woff'),
         url('fonts/futumd__-webfont.ttf') format('truetype'),
         url('fonts/futumd__-webfont.svg#futura_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ElleFuturaBook';
    src: url('fonts/ElleFuturaBook-.eot');
    src: url('fonts/ElleFuturaBook.eot?#iefix') format('embedded-opentype'),
         url('fonts/ElleFuturaBook.woff2') format('woff2'),
         url('fonts/ElleFuturaBook.woff') format('woff'),
         url('fonts/ElleFuturaBook.ttf') format('truetype'),
         url('fonts/ElleFuturaBook.svg#ElleFuturaBook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_lt_btlight';
    src: url('fonts/futural-webfont.woff2') format('woff2'),
         url('fonts/futural-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'futura_lt_btlight_italic';
    src: url('fonts/futura-lt-bt-light-italic_19012-webfont.woff2') format('woff2'),
         url('fonts/futura-lt-bt-light-italic_19012-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}