@charset "UTF-8";
/* CSS Document */
* {

	box-sizing:border-box; -moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -o-font-smoothing:antialiased; -ms-font-smoothing:antialiased; font-smoothing:antialiased; }

html { margin:0; padding:0;font-size: 100% !important; }

body {
    background-color: #e6e6e6 !important;
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif !important;
    font-size: 100% !important;
    font-size: 1rem !important;
    line-height: 1.4rem !important;
    color:#172022 !important;
    margin: 0;
}
a {
    color: #172022 !important;
    text-decoration: none !important;
}
.italic {
    font-family: 'futura_lt_btlight_italic', Arial, Helvetica, sans-serif;
}
.sj-dialog-0 .dialog-msg-0 {
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif !important;
}
.additional-info-0 {
    display: none !important;
}
.button-0 {
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif !important;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding: 16px 10px;
    background: transparent;
    border: 1px solid #172022;
    text-align: center;
    color: #172022;
    text-decoration: none;
    cursor:pointer;
    border-radius: 4px;
}
.sj-dialog--1691395329 .dialog-msg--1691395329 {
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif !important;
}
.additional-info--1691395329 {
    display: none !important;
}
.button--1691395329 {
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif !important;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding: 16px 10px;
    background: transparent;
    border: 1px solid #172022;
    text-align: center;
    color: #172022;
    text-decoration: none;
    cursor:pointer;
    border-radius: 4px;
}

hr {
    border-top: .1px solid #d3d3d336 !important;
    margin: 22px 30px;
}
.url-dark-green {
    color: #738778 !important;
}
.url-dark-green:hover {
    color: #98a79c !important;
}
.url-dark {
    color: #737373 !important;
}
.url-dark:hover {
    color: #8b8b8b !important;
}
/* Images */
.center-image {
    margin-left:auto;
    margin-right:auto;
    display:block;
}
@media(min-width:550px) {
    .feature-image-550 {
        max-width: 550px;
    }
}

@media(min-width:800px) {
    .feature-image-800 {
        max-width: 800px;
    }
}
@media(min-width:1260px) {
    .feature-image-1200 {
        max-width: 1200px;
    }
}
@media(min-width:1100px) {
    .feature-image-1100 {
        max-width: 1100px;
    }
}
@media(min-width:1240px) {
    .feature-image-960 {
        max-width: 1100px;
    }
}
@media(max-width:1024px) {
    .feature-image-960 {
        max-width: 100%;
    }
}

@media(min-width:960px) {
    .feature-image-960-s {
        max-width: 960px;
    }
}
@media(max-width:960px) {
    .feature-image-960 {
        max-width: 100%;
    }
}

.drop-shadow {
  box-shadow: 5px 5px 8px 0 rgba(22, 22, 22, 0.25), 0 6px 20px 0 rgba(22, 22, 22, 0.19);
}
.drop-shadow-light {
  box-shadow: 5px 5px 8px 0 rgba(22, 22, 22, 0.1), 0 6px 20px 0 rgba(22, 22, 22, 0.05);
}
.padded-container {
    padding:0px 15px;
}
.border-image {
    border: 2px solid white;
}
img {
    max-width: 100%;
}
.feature-logo {
    max-width: 360px;
    padding-bottom: 30px;

}
.feature-logo-medium {
    max-width: 550px;
    padding-bottom: 30px;
}
.feature-logo-large {
    max-width: 760px;
    padding-bottom: 30px;
}
.feature-logo-extra-large {
    max-width: 1100px;
    padding-bottom: 30px;
}
.fa-logo-offset{
    padding-left: 33px;
}
.icon-logo {
    min-width: 25px;
}
.logo-padding {
    padding-top: 30px;

}

.logo-padding-sticky {
    padding-top: 95px;

}
.logo-offset {
    margin-right:40px;
}
@media (max-width: 480px) {
    .feature-logo {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 90%;
    }
    .feature-logo-large {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
    }
    .fa-logo-offset {
        padding-left: 14px;
    }
    .logo-offset {
        margin-right:20px;
    }
}
.logo-offset-r {
    margin-right:15px;
}
@media (max-width: 480px) {

    .logo-offset-r {
        margin-right:20px;
    }
}
.float-right {
    float: right;
    margin-right: 20px;
    margin-left: auto;
    
}
.float-left {
    float: left;
    margin-left: 20px;
    margin-right: auto;
}
.inner-right {
    margin-right: 20px;
    margin-top: 8px;
}
.inner-left {
    margin-left: 40px;
}
/* */


/* Header */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b8b8b8;
    background: #f7f7f7;
    height: 60px;
    align-items: center;
    width: 100%;
    display: flex;
    font-family: 'futura_lt_btlight', Arial, Helvetica, sans-serif;
    max-height: 60px !important;
    z-index: 1;
}
.available-for {
    margin-left: auto;
    display: inline-block;
}
@media (max-width: 767px) {
    .available-for {
        float: left;
        margin-left: 20px;
        width: 70%;
    }
    .top-c {
        float: right;
        margin-left: auto;
    }
}

@media (max-width: 580px) {
    .available-for {
        font-size: .7rem;
        margin-left: 10px;
        width: 72%;
        margin-right: 0px !important;
    }
    .inner-right {
        margin-right: 20px;
    }
}
/* Page content */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sticky + .content {
    padding-top: 60px;
} 
.mobile-p{
    margin-bottom: 30px;
}
@media (min-width: 481px) {
    .sticky-m {
        display: none;
    }
  .mobile-p{
        display: none;
    }
}

.sticky-m {
    background: #363636;
    position: fixed !important;
    top: 0;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}
.sticky-m + .content {
    padding-top: 60px;
} 
.static-logo-m {
    max-width: 70%;
    max-height: 45px;
}
/* */

/* Buttons */
.button {
    border-radius: 4px;

}
.button-side-text {
    padding-right: 5px;
} /*
@media(max-width:767px) {
    .button-side-text {
        display: none !important;
    }
} */
.top-button {
    display: inline !important;
    top: 4px;
}
.home-button:hover{
    color: white;
    background: #65b8e2;
    text-decoration: none;
}
.home-button:active{
    color: white ;
    background: #5ca4c9;
}
.home-button {
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding: 7px 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #172022;
    text-align: center;
    color: #172022;
    text-decoration: none;
    cursor:pointer;
    border-radius: 4px;
}
.home-button:link {
    text-decoration: none;
}
.no-decoration {
    text-decoration: none;
}
.home-button:link {
    text-decoration: none;
}
.alt-button-col {
    background: #5fb4e1;;
    color: white;
    border: none;
}
.alt-button-col:hover{
    background: #6dc0e9;
    color: white;
    border: none;
}
.alt-button-col:active{
    background: #00d0ff;
    color: white;
    border: none;
}
.width-160 {
    max-width: 160px;
}
.inline-button-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.display-inline-block {
    display: inline-block;
}
.inline-button {
    padding: 8px 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.inline-button-r {
    padding: 10px 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.break-m {
    display: none;
}
.button-side-text {
    display: inline-block
}
@media (max-width: 767px) {
    .break-m {
        display: block;
        padding-top: 15px;
    }
    .button-side-text {
        padding: 0px 30px;

    }

}
.logo-button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.steam-logo {
    width: 20px;
    height: 20px;
    max-height: 20px;
    margin-left: 5px;
    overflow: hidden;
    bottom: 2px;
    position: relative;
}
/* */

/* Misc. body */
.half-space {
    padding-top: 7px;
}
.padding-bottom-12-d {
    padding-bottom: 12px;
}
@media (max-width: 767px) {
    .padding-bottom-12-d {
        padding-bottom: 4px;
    }
    .button-rh {
        padding-left: 0px !important;
    }
}
.body-text {
    color: #2c383b;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.6
}
.text-block {
    padding: 0px 20px;
    max-width:790px;
    line-height: 1.45rem;
    font-size: 100%;
    font-size:1rem;
    margin-left: auto;
    margin-right: auto;
}

.quote-block {
    padding: 30px 60px;
    line-height: 1.45rem;
    font-size: 100%;
    font-size:1rem;
    margin-left: auto;
    margin-right: auto;
    background: #dbdbdb;
    max-width:880px;
}
.quote-attribution {
    padding-top: 20px;
}
.logo-inline {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    outline: 0;
}
@media (max-width: 1000px) {
    .logo-inline {
        width: 18%;
    }
}

.logo-display {
    max-height: 40px;
    max-width: 130px;
    background-repeat: no-repeat;

}
.logo-block {
    max-width: 130px;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;

}
.logo-set-container {
    display: block;
    padding-bottom: 30px;
    text-align: center;
}
@media (max-width: 767px) {
    .quote-attribution {
        padding-left: 20px;
    }
    .quote-block {
        padding: 30px 45px;
    }
}
.padding-top {
    padding-top: 40px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-top-r {
    padding-top: 15px;
}
.padding-top-25 {
    padding-top: 25px !important;
}
.padding-top-reduced {
    padding-top: 20px;
}
.padding-bottom {
    padding-bottom: 40px;
}
@media(max-width: 480px) {
    .padding-top {
        padding-top: 30px;
    }
   
    .padding-bottom {
        padding-bottom: 30px;
    }

    .logo-set-container {
        display: block;
    }
    .logo-inline {
        display: block;
        width: 30%;
        margin-top: 5px;
    }
    .logo-display {
        max-width: inherit;
        max-height: inherit;
    }

}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.center-grid {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*
@media(max-width: 767px) {
     .padding-bottom-r {
        padding-bottom: 20px!important;
    }
}
@media(min-width: 768px) {
    .padding-bottom-r {
        padding-bottom: 55px!important;
    }
} */
@media(max-width: 767px) {
    
    .padding-top-r {
        padding-top: 10px;
    }

}
.newsletter-title {
    font-size: 110%;
    font-size: 1.4rem;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 1.1;
}
.left-aligned-title {
    font-size: 1.8rem;
    padding-left: 30px;
    padding-right: 30px;
}
.left-aligned-body {
    padding-left: 30px;
    padding-right: 30px;
}
.align-center-d {
    text-align: center;

}
.align-center {
    text-align: center;

}
@media(max-width: 767px) {
    .align-center-d {
        text-align: left;   
        padding-left: 20px;
    }
}
/* */

/* Sign Up */
.sign-up-box {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 17px;
    vertical-align: middle;
    border-radius: 4px;
    min-width: 480px;
    max-width: 635px;
    min-height: 36px;
    background-color:#ffffff;
    font-size: 100%;
    border: 1px solid rgba(36,28,21,0.3);
    box-sizing:border-box;
    
}
@media(max-width:767px) {
    .sign-up-box {
        min-width: 100%;;
        max-width: 100%;;
    }
}
#mc_embed_signup .button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding: 7px 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #172022;
    text-align: center;
    color: #172022;
    text-decoration: none !important;
    min-width: 150px;
    margin-bottom: 40px;
    cursor:pointer;
}
#mc_embed_signup .button:hover{
    color: white!important;
    background: #7eb9d8;
    text-decoration: none !important;
    border: 1px solid #172022;

}
#mc_embed_signup .button:active{
    color: white !important;
    background: #65b8e2;
    border: 1px solid #172022;

    text-decoration: none !important;

}
@media(max-width:767px) {
    #mc_embed_signup .button {
        min-width: 100%;
    }   
}
/* */

/* Headers and text */
h1 { font-size:1.5em; margin:0px; }
h2 { font-size:1.2rem; margin:0px;line-height: 2.5rem !important;margin-top:0px !important }

/* */

/* footer */
footer { 
    background: #f1f1f1; 
    left: 0;
    bottom: 0;
    
}
footer ul { list-style:none; margin:0; padding:0px 30px; text-align:center; }
footer ul li { display:inline-block;}
footer ul li a { color:rgb(56, 56, 56); text-decoration:none; padding:12px 45px; display:inline-block }
@media(max-width: 767px) { footer ul li { display:block; padding: 5px 0px;}}
footer ul li a:hover { color:#8a8a8a !important; }
.copywright { background: #363636; padding:10px 10px 8px 15px;color:rgba(255, 255, 255, 0.651); font-weight: 200; font-size: .8rem; }


/* stick footer */
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 30px; 
  }
/* */

/* nav */
nav { margin-left: auto; margin-right: auto; display: inline-block; }
nav ul { list-style:none; margin:0; padding:0px 30px; text-align:center; }
nav ul li { display:inline-block;}
nav ul li a { color:rgb(56, 56, 56); text-decoration:none; padding:12px 45px; display:inline-block; min-width: 170px; max-width: 170px; white-space: nowrap; }
@media(max-width: 767px) { nav ul li { display:block; padding: 5px 0px;}}
nav ul li a:hover { color:#8a8a8a; }
@media(max-width: 840px)  {
    .hide-reduced-width {
        display:none;
    }
    .less-padding-reduced-width {
        padding-top: 30px;
}
}
.header-nav-icon {
    margin-right: auto;
    display: inline-block;
    margin-left: 11px;
    margin-top: 10px;

}
.header-nav-icon_c {
    margin-right: auto;
    display: inline-block;
    margin-left: 11px;
    margin-top: 10px;

}
.sidebar-nav li a {
color: #b3b3b3 !important;
}
.nav-padding-top {
padding-top: 35px;
line-height: 0px;
}
/* */

/* bullet list */
ul.bullet { list-style-type: circle; padding-bottom: 20px; }
li.b { padding-bottom: 15px; }
@media(max-width: 480px) {
    ul.bullet {  padding-left:15px;  }
}
/* */

/* modal */
 #modalImage {
  cursor: pointer;
  transition: 0.3s;
}
#modalImage:hover {opacity: 0.9;}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
  -ms-overflow-style: none; 
  scrollbar-width: none !important;
}
.modal-content {
    background-color: initial !important;
}
.no-scroll {
  overflow: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none !important;
}

.no-scroll:-webkit-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none !important;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1200px;
  border-radius: 0px !important;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.1s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* */

/* Display at alt. widths */
@media (max-width: 1020px){   
    .hide-reduced {
        display: none;
    }
}
@media (min-width: 1019px){
    .display-reduced {
      display: none;
    }
   
}
/* */

/* hover */
.hover_image:hover {text-decoration: none}
.hide_image {display:none}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:last-child{display:inline-block}
/* */

/* image grid */
.row {
    display: flex;
}
.column-3 {
    flex: 25%;
    padding: 29px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.column-3-reduced-padding {
    flex: 25%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.column-2-reduced-padding {
    flex: 40%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.column {
    flex: 1;
    padding: 29px;
}
.column-4-reduced-padding {
    flex: 25%;
    padding: 10px;
}
@media (max-width: 1220px) {
    .column {
        padding: 2.5%;
    }
    .l {
        padding-left: 29px;
    }
    .r {
        padding-right: 29px;
    }
}
.image-grid {
    max-width:1210px;
    margin-left:auto;
    margin-right:auto;
}
.container-c {
    max-width:1210px;
    margin-left:auto;
    margin-right:auto;
}
.c-full {
    max-width: 100% !important;
    background: #e6e6e6;
}

.grid-name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#border-img-2px {
    border: 2px solid white;
}
#border-img-1px {
    border: 1px solid white;
}

/* slider */
.slider-container {
    margin: 0 auto;
    max-width: 960px;
}
.slider-container-1100 {
    margin: 0 auto;
    max-width: 1100px;
}
.slick-slide {
    text-align: center;
    color: #4f5458;
    background: white;

}
.slick-prev {
    background: url("images/left-arrow-transparent-01.png" ) no-repeat 0 0;
}
.slick-next {
    background: url("images/right-arrow-transparent-01.png" ) no-repeat 0 0;
}
.slick-prev:hover {
    background: url("images/left-arrow-transparent-01-h.png" ) no-repeat 0 0;
}
.slick-next:hover {
    background: url("images/right-arrow-transparent-01-h.png" ) no-repeat 0 0;
}
.slick-next, .slick-prev {
    width: 40px;
    height: 50px;
}
.slick-prev::before, .slick-next::before {
    content: none;
}
.slick-prev {
    margin-left:30px;
    z-index: 1;
}
.slick-next {
    margin-right:30px !important;
    z-index: 1;
}
@media all and (min-width:1240px),print {
    .slick-prev {
        margin-left:-35px;
    }
    .slick-next {
        margin-right:-35px;
    }

}
.carousel-caption {
    position: initial !important;
    background: #3a4142;; 
    color: #ffffff;
    padding:10px 0px;
}
.slick-slide img {
    width:100%;
}
/* */

/* grid */
.wrapper-c {
    margin: 0 auto;
    max-width: 1240px;
    overflow: hidden;
}
.wrapper-d {
    margin: 0 auto;
    max-width: 1600px;
}
.wrapper-e {
    margin: 0 auto;
    max-width: 1980px;
    overflow: hidden;
}
.gridImage {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}
.grid-item-title {
    text-align: center;
    display: block;
    padding-top: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 19px;
    font-size: 1.5rem;
}
.grid-item-description {
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 14px;
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;

}
.grid-item-note {
    padding-top: 10px;
    text-align: center;
    display: block;
}
@media (max-width:480px) {
    .grid-item-description {
        max-width: 100%;
        text-align: left;
    }
    .grid-item-title {
        text-align: left;
    }
    .grid-item-note {
        text-align: left;
    }
}
.grid-article {
    padding-top: 40px;
}
/* */

/* mobile show and hide */
.desktop-only {
    display: initial !important;
}
.mobile-only {
    display: none !important;
}
.mobile-only-block {
    display: none !important;
}
@media (max-width: 767px) {
    .desktop-only {
        display: none !important;
    }
    .mobile-only {
        display: initial !important;
    }
    .mobile-only-block {
        display: block !important;
    }
}

@media (max-width: 480px) {
    .hide-mobile {
        display: none !important;
    }
}
/* */


/* padding */

.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-bottom-25 {
    padding-bottom: 25px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}

/* article */
.full-width-image-c {
    width: 100% !important;
    max-width: initial !important;
    position: relative;
    z-index: -1;
}
#maincontent {
    max-width: 100% !important;
    padding: 0px !important;
}
.container-c {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -150px;
    padding-bottom: 20px;
}
.margin-top-c {
    margin-top: -20%;
}
.content-text-block {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;

}
.blog-title {
    font-size: 33px;
    font-weight: 600;
    padding-top: 10px !important;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #2c383b;
}
.user-guide {
    padding-bottom:0px !important;
}
.align-center-b {
    text-align: center;
}
.lusitana {
    font-family: 'Lusitana', serif;

}
.padded-hr {
    border-color: #8a9191;
    border-width: 1px;
    border-bottom: 1px solid #8a9191 !important;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
}
.full-hr {
    border-color: #8a9191;
    border-width: 1px;
    border-bottom: 1px solid #8a9191 !important;
    padding-top: 15px;
}
.columns .column.main {
    margin-bottom: -10px;
    padding-bottom: 0px;
}
.bottom-feature-image {
    margin-top: -100px;
}

.store-image {
    border: 2px solid #ffffff !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@media (max-width: 1200px) {

    .content-text-block {
        padding-left: 0px;
        padding-right: 0px;

    }
    .padded-hr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .float-right {
        margin-right: 0px;
    }
}
.short-hr {
    max-width: 900px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {

    .align-center-b {
        text-align: left;

    }
 
    .content-text-block {
        padding-left: 0px;
        padding-right: 0px;

    }
    .container-c {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -4px;
        padding-top: 20px;

    }
    .margin-top-c {
        margin-top: -10%;
    }
    .content-text-block {
        padding-top: 25px;
        padding-bottom: 30px;
    }
   
    .page-header {
        margin-bottom:0px !important;
        border-bottom: none !important;
    }
    .block-search .control {
        border-top: none !important;
    }
    .bottom-feature-image {
        margin-top: 0px;
    }
    .page-footer {
        margin-top: 0px;
    }
    .footer.content {
        border-top: none!important;
    }
} 

.image-grid-w {
    display: block;
    min-width: 100%;
    max-width: 100%;

}
.col-f-outer {
    min-width: 32.85%;
    max-width: 32.85%;
    display: inline-block;
    white-space: nowrap;
}
.col-f-outer-double {
    min-width: 65.7%;
    max-width: 65.7%;
    display: inline-block;
    white-space: nowrap;
}
.col-float-center {
    margin-left: auto;
    margin-right: auto;
}
.col-inner-image {
    border: 1px solid white;
}
.col-margin-l {
    margin-left: 8px;
}
.col-margin-r {
    margin-right: 8px;
}
.col-margin-c {
    margin-left: 4px;
    margin-right: 4px;
}
.white-border-1px {
    border: 1px solid white !important;
    box-sizing: border-box;
}
/* */

/* faq */

.cms-sub-heading {
    font-size: 1.1rem;
    color: #282828;
    font-weight: bold;
}
.cms-sub-heading-med {
    font-size: 1.6rem;
    color: #282828;
    font-weight: bold;
}
.cms-sub-heading-large {
    font-size: 33px;
    font-weight: 600;
    color: #282828;

}
.dashed-line {
    border-top-style: dashed;
    border-width: 1px;
    height: .5px;
    border-color: #8a9191;
}
.faq-break {
    margin-top: 40px;
    margin-bottom: 40px;
}
.user-guide-screenshot {
    margin-bottom: 40px;
}
.alt-button-padding {
    padding:10px 25px !important;
    margin-left: 5px;
    margin-right: 5px;
}
.med-spacer {
    margin-top: 35px;
    display: block !important;
}
@media(max-width:580px) {
    .top-button {
        margin-left: 30px;
        margin-right: 30px;

    }
    .top-button {
        display: block !important;
        padding:8px 25px !important;

    }
    .button-side-text {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom:8px;
    }
    header {
        height: 110px !important;
        max-height: 110px !important;
        background: #ffffffe3;
    }

    .r-c {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: initial; 

    }
    .top-c {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: initial; 
        padding-left:0px !important;
        padding-right: 0px !important;
    }
    .float-right {
        min-width: 87%;
        max-width: 450px;
    }
}
@media(max-width:380px) {
    .float-right {
        max-width:75% !important;
    }
    .button-side-text {
        font-size: .8rem;
    }
}
.article-title {
    padding-bottom: 25px;
}

@media(max-width:768px) {
    .article-title {
        padding-top: 25px;
    }
}

.center-text-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:18.9px;

    /*
    background:#d9d9d9;

    padding:3px 17px; */

}

header .min {

}

h2 .main-title {
    font-weight: 600;
}
.update-item {
    display: block;
}

.padding-15 {
    padding: 0px 15px;
}
.article-set-title {
    font-size: 1.2rem;
}

.grid-article-outline {
    border: 1px solid #8a9191!important;
    margin-top: 40px!important;
    margin-bottom: 30px!important;
}


.grid-article-outline:hover {
    box-shadow: 0px 0px 20px 5px rgba(119,118,118,0.25)!important;
}
.inner-article-padding {
    padding: 25px 35px 30px 35px!important;
}

.grid-item-title-l {
    text-align: left;
    display: block;
    padding-top: 0px;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    line-height: 1.15;
}
.grid-item-description-l {
    text-align: left;
    display: block;
    padding-top: 15px;
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
    font-size:.9rem;
    line-height: 1.45;
}
.read-more-arrow {
    width:15px!important;
    margin-top: -1px;
    display: inline!important;

}
.grid-item-note-l {
    text-align: left!important;
    display: inline!important;
}
.read-more-bottom-section {
    padding-top: 10px!important;
    text-align: left !important;

}
.more-text {
    padding-left: 8px!important;
}
.read-more-bottom-section .slick-slide {
    text-align: left !important;
}
.article-slider .slick-slide {
    background: initial!important;
}
.article-slider .slick-dots {
    display: none !important;
}
.wrapper-d .slick-slider {
    margin-bottom: 0px !important;
}
.article-slider .slick-prev {
    display: none !important; 
}
.article-slider .slick-next {
    background: url("images/read-more-arrow-light.svg" ) no-repeat 0 0;
}
.article-slider .slick-prev {
    background: url("images/read-more-arrow-light-left.svg" ) no-repeat 0 0;
}
.article-slider .slick-next:hover {
    background: url("images/read-more-arrow-light-h.svg" ) no-repeat 0 0;
}
.article-slider .slick-prev:hover {
    background: url("images/read-more-arrow-light-left-h.svg" ) no-repeat 0 0;
}
.article-slider .slick-next:active {
    background: url("images/read-more-arrow-light-p.svg" ) no-repeat 0 0;
}
.article-slider .slick-prev:active {
    background: url("images/read-more-arrow-light-left-p.svg" ) no-repeat 0 0;
}

body:after{
    position: absolute; overflow: hidden; left: -50000px; content: 
    url("images/read-more-arrow-light-h.svg" ) url("images/read-more-arrow-light-left-h.svg" ) url("images/read-more-arrow-light-left-h.svg" ) url("images/read-more-arrow-light-p.svg" )
    url("images/menu-icon.svg" ) url("images/menu-icon_l.svg" );
}

.slick-slide:focus {outline:none;}
.slick-slide::-moz-focus-inner {border:0;}
.article-slider-item {
    padding-left: 15px;
    padding-right: 15px;
}
.load-more-content {
    display: none;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56%;
  position: relative;
}
@media(max-width: 480px) {
    .iframe-container {
        padding-top: 55.4%;
    }
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.close:hover {
    background: #c4c4c4;
}
.close:active {
    background: #a1a1a1;
}
.close {
    opacity: 1 !important;
    text-shadow: none !important;
    color:#404040 !important;
    text-align: center;
    padding-top: 4.4px;
    background: #eae7e7;
    width:33px;
    height: 33px;
    border-radius: 50%;
    font-family: 'futura_md_btmedium';
    top: 25px;
    right: 25px;
}

@media (max-width:600px) {
    header {
        display: none !important;
    }
}

.bold-menu-item {
    font-family: 'futura_md_btmedium';
}
.update-title {
    padding-bottom: 5px;
    font-weight: 700;
}


.slick-slider-single .slick-track{
    display: flex;
}
.slick-slider-single .slick-slide{
    display: flex;
    height: auto;
}
.slick-slider-single .slick-initialized .slick-slide {
    display: flex!important;
}
.slick-slide {
    max-height: 100% !important;
}
.button-intro {
    padding-bottom: 25px;
}

@media (max-width:767px) {
    .slick-slider-single {
        margin-bottom: 10px !important;
    }
}
@media (max-width:480px) {
    .article-title-reduced-mobile {
        font-size: 1.3rem;
    }
    .grid-item-description-reduced-mobile {
        padding-top: 8px;
    }

    .mobile-block-button {
        display: block;
        padding: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .button-rh {
        margin-top: 10px;
    }
}
.row {
    margin-left: 5px !important;
    margin-right: 5px!important;

}
p {
    margin: 0px !important;
}
.update-title {
    display: block;
    padding-top: 5px;
    padding-bottom: 15px;
}
.reduced-grid-padding{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.reduced-grid-container{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
@media(min-width:992px) {
    .reduced-grid-padding{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .reduced-grid-container{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
}
@media (max-width: 767px) {

    .article-text-container {
        padding-left: 10px !important;
    }
}
.appstore-button {
    display: inline-block !important;
    margin-right: 20px;
}
.p-2 {
    padding: 0px !important;
}
.small-print {
    font-size: 70%;
}
.no-padding-bottom {
    padding-bottom: 0px!important;
}
.outline-sign-up-box {
  /*  background-color: #81cadb; */
  border: 1px solid  #e8e8e8;
      border-radius: 25px;
      padding-top: 30px;
      padding-bottom: 5px;
      padding-left: 45px;
      padding-right: 45px;
}

.shift-up-image {
    position: absolute;
    top: 20%;
}



.image-spacer {
    width: 100%;
    padding-top: 30%;
}
@media (max-width:960px) {
  .image-spacer {
    padding-top: 20%;
  }
}
@media (min-width:1900px) {
  .image-spacer {
    padding-top: 35%;
  }
}
.curved-edges {
    border-radius: 15px;
}

.offset-h-subtitle {
  top: -15px;
  position: relative;
    color: #e8e8e8!important;
    display: block;

}
@media (min-width:481px) and (max-width:1100px) {
  .offset-h-subtitle {
    display: none;

  }
}
@media (min-width:481px) {

.text-block-large-text {
    font-size: 1.15rem !important;
    line-height: 1.7rem !important;
}
}
.top-alt-bg {
  position: relative;
  z-index: -2;
}
.shift-up-image-a {
    position: absolute;
    background: #111114 !important;
    top: 0%;
    height: 500px;
}

@media (max-width:480px) {
  .shift-up-image {
      top: 25%;
  }
  .image-spacer {
    padding-top: 30%;
    }
    .block-with-image {
        min-height: inherit !important;

    }
  

}

@media (max-width:720px) {
    .logo-padding-sticky {
        padding-top: 45px;
    }
}


.no-margin-top {
    margin-top: 0px !important;
}

.no-outline {
    border: initial!important;
}

.software-promo {
    padding-left: 20px;
    padding-right: 20px;
}
.indent-block {
    margin-left: 40px;
}
.subtitle {
    padding-bottom: 25px;
}
h3 {
    margin-top: 0px !important;
}